.single-article {
    margin-top: 100px;
    width: 100%;

    .single-article-container {
        background-color: #fff;
        height: auto;
        margin-bottom: 100px;
        margin-top: 30px;
        padding: 60px 75px;
        width: 100%;
        border-radius: 20px;


        .content-all {
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            gap: 30px;
            flex-direction: column;

            .img{
                height: 350px;
                width: 100%;
                background-size: cover;
                background-position: center;
            }

            .content{
                display: flex;
                flex-direction: column;
                gap: 75px;
            }

            .content-row{

                .h3{
                    margin-bottom: 10px;
                }
            }

            .date {
                @include typography($grey-color, $primary-font, 16px, 500);
                margin-top: 5px;
            }

            .content-row {
                display: flex;
            }

            .right {
                width: 50%;
                height: auto;

                .h3 {
                    padding-left: 15px;
                }

                p {
                    padding-left: 15px;
                }
            }

            .left {
                width: 50%;

                .h3 {
                    padding-right: 15px;
                }

                p {
                    padding-right: 15px;
                }


            }

        }



    }
}

//responsive

@include respond-to(small) {
    .single-article {
        .single-article-container {
            padding: 30px 40px;

            .content {
                flex-direction: column;

                .right {
                    width: 100%;
                }

                .left {
                    width: 100%;
                }
            }
        }
    }
}

@include respond-to(medium) {
    .single-article {
        .single-article-container {
            padding: 30px 40px;

            .content-all {
                flex-direction: column;

                .right {
                    width: 100%;
                }

                .left {
                    width: 100%;
                }
            }
        }
    }
}