.single-article {
    margin-top: 100px;
    width: 100%;

    .single-article-container {
        background-color: #fff;
        height: auto;
        margin-bottom: 100px;
        margin-top: 30px;
        padding: 60px 75px;
        width: 100%;
        border-radius: 20px;


        .content {
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            gap: 30px;

            .right {
                width: 50%;
                height: auto;
            }

            .left {
                width: 50%;

                h1 {
                    margin-bottom: 10px;
                }

                .p{
                    margin-top: 50px;
                }
            }

        }



    }
}