.single-article {
    margin-top: 100px;
    width: 100%;

    .single-article-container {
        background-color: #fff;
        height: auto;
        margin-bottom: 100px;
        margin-top: 30px;
        padding: 60px 75px;
        width: 100%;
        border-radius: 20px;


        .content-all {
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;

            .title{
                margin-bottom: 50px;
            }

            .img{
                background-position: 50%;
                background-size: cover;
                width: 100%;
                height: 100%;
                min-height: 275px;
                background-position: center;
            }

            .content{
                display: flex;
                flex-direction: column;
                gap: 50px;
            }

            .content-row{

                .h3{
                    margin-bottom: 20px;
                }
            }

            .date {
                @include typography($grey-color, $primary-font, 16px, 500);
                margin-top: 5px;
            }

            .content-row {
                display: flex;
            }

            .right {
                width: 50%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .h3 {
                    padding-left: 15px;
                }

                p {
                    padding-left: 15px;
                }
            }

            .left {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .h3 {
                    padding-right: 15px;
                }

                p {
                    padding-right: 15px;
                }


            }

        }



    }
}

//responsive

@include respond-to(small) {
    .single-article {
        .single-article-container {
            padding: 30px 40px;

            .content {
                flex-direction: column;

                .right {
                    width: 100%;

                    p{
                        padding-left: 0px;
                    }

                    .h3{
                        padding-left: 0px;
                    }
                }

                .left {
                    width: 100%;

                    p{
                        padding-right: 0px;
                    }

                    .h3{
                        padding-right: 0px;
                    }
                }
            }

            .content-row{
                display: flex;
    flex-direction: column;
    gap: 20px;
            }

            .content-row:last-child{
                flex-direction: column-reverse;
            }
        }
    }
}

@include respond-to(medium) {
    .single-article {
        .single-article-container {
            padding: 30px 40px;

            .content-all {
                flex-direction: column;

                .right {
                    width: 100%;
                }

                .left {
                    width: 100%;
                }
            }
        }
    }
}