.single-article{
    margin-top: 100px;
    width: 100%;

    .single-article-container{
        background-color: #fff;
        height: auto;
        margin-bottom: 100px;
        margin-top: 30px;
        padding: 60px 75px;
        width: 100%;
        border-radius: 20px;
    }
}