.blog{

    margin-top: 100px;
    width: 100%;


    .blog-container{
        width: 100%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 100px;
        padding: 10px 50px 40px 50px;
        background-color: $white-color;
        border-radius: 20px;
    }

    .articles-hp {
        grid-gap: 50px;
        background-color: #fff;
        border-radius: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        height: auto;
        margin-bottom: 100px;
        margin-top: 30px;
        padding: 60px 75px;
        width: 100%;
        .article-block {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            background-color: antiquewhite;
            height: 350px;
            background-size: cover;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
    
            .bottom {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding: 10px 20px;
                min-height: 20%;
                height: auto;
                width: 100%;
                border-radius: 0px 0px 15px 15px;
                background: rgba(0, 0, 0, 0.49);
                backdrop-filter: blur(5px);
    
                h3{
                    color: $white-color;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }
    
        .article-block.see-all:hover{
            background-color: $secondary-color;
        }
    
        .article-block.see-all {
            background-color: $primary-color;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: 60px;
            padding-bottom: 40px;
    
            a{
                color: $white-color;
                font-size: 28px;
                font-weight: 600;
            }
    
            .icone{
                color: $white-color;
                border: 6px solid $white-color;
                height: 125px;
                width: 125px;
            }
        }
    }
    
    @include respond-to(small) {
        .articles-hp {
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            padding: 15px 20px;
    
            .article-block {
                height: 250px;
            }
    
            .article-block.see-all{
                gap:25px
            }
        }
    
    
    }

}
