.roomSpecifics{
    width: 50%;
    padding-left: 30px;


    
    h2{
        margin-bottom: 30px;
    }
    
    .specifics-bg{
        background-color: $white-color;
        border-radius: 20px;
        padding: 30px;
        height: 300px;
        display: flex;
        flex-direction: column;

        textarea{
            flex-grow: 1;
        }
        
        label{
            font-weight: 600;
        }
    }
    
    }
    

    //responsive

    @include respond-to(small){
        .roomSpecifics{
            width: 100%;
            padding-left: 0px;
            padding-top: 30px;
            padding-bottom: 30px;
            h2{
                text-align: center;
            }
            .specifics-bg{
                padding: 20px;
            }
        }
    }

    @include respond-to(medium){
        .roomSpecifics{
            width: 100%;
            padding-left: 0px;
            padding-top: 30px;
            padding-bottom: 30px;
            h2{
                text-align: center;
            }
            .specifics-bg{
                padding: 20px;
            }
        }
    }
    