*{
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    @include radial-gradient(159.21% 377.09% at -20.15% 100%, #EAEDF8, #F9F9F9);
}

#root{
  max-width: 100vw;
  overflow: hidden;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  

  a {
    text-decoration: none;

  }

  a:hover{
    cursor: pointer;
  }
  

  ul, ol, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  

  img {
    max-width: 100%;
    height: auto;
  }

  button{
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
    border: none;
    background-color: $primary-color;
    color: $white-color;
    font-family: $primary-font;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: $dark-primary-color;
        color: $white-color;
    }
    &:disabled{
      background-color: $grey-color;
      color: $white-color;
      cursor: not-allowed;
    }
  }

  textarea{
    width: 100%;
    border-radius: 5px;
    border: 2px solid $border-color;
    padding: 10px;
    resize: none;

    &:focus{
      outline: none;
      border: 2px solid $primary-color;
    }
  }

  

//classes

.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1510px;

    @include respond-to(small) {
      padding: 0 30px;

      }
      
      @include respond-to(medium) {
        padding: 0 50px;
  
      }
      
      @include respond-to(large) {
        padding: 0 60px;
  
     
      }

}

.row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.button{
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;
    border: none;
    background-color: $primary-color;
    color: $white-color;
    font-family: $primary-font;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: $dark-primary-color;
        color: $white-color;
    }
    &:disabled{
      background-color: $grey-color;
      color: $white-color;
      cursor: not-allowed;
    }
}

.flex{
    display: flex;
}

.center{
@include center;
flex-direction: column;
}

.fullPage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


