h1 {
    @include typography($black-color, $primary-font, 64px, 500);

    @include respond-to(medium) {
        @include typography($black-color, $primary-font, 48px, 500);
    }

    @include respond-to(small) {
        @include typography($black-color, $primary-font, 48px, 500);
    }
}

h2 {
    @include typography($black-color, $primary-font, 48px, 500);

    @include respond-to(medium) {
        @include typography($black-color, $primary-font, 32px, 500);
    }

    @include respond-to(small) {
        @include typography($black-color, $primary-font, 32px, 500);
    }
}

h3 {
    @include typography($black-color, $primary-font, 20px, 500);

    @include respond-to(medium) {
        @include typography($black-color, $primary-font, 18px, 500);
    }

    @include respond-to(small) {
        @include typography($black-color, $primary-font, 16px, 500);
    }
}

p {
    @include typography($black-color, $primary-font, 16px, 400);

    @include respond-to(medium) {
        @include typography($black-color, $primary-font, 14px, 400);
    }

    @include respond-to(small) {
        @include typography($black-color, $primary-font, 14px, 400);
    }
}



a {
    @include typography($black-color, $primary-font, 16px, 500);

    @include respond-to(medium) {
        @include typography($black-color, $primary-font, 14px, 500);
    }

    @include respond-to(small) {
        @include typography($black-color, $primary-font, 14px, 500);
    }
}

a:hover {
    color: $primary-color;
}

label {
    @include typography($black-color, $primary-font, 16px, 400);

    @include respond-to(medium) {
        @include typography($black-color, $primary-font, 14px, 400);
    }

    @include respond-to(small) {
        @include typography($black-color, $primary-font, 14px, 400);
    }
}

input, textarea, select {
    @include typography($black-color, $primary-font, 16px, 400);

    @include respond-to(medium) {
        @include typography($black-color, $primary-font, 14px, 400);
    }

    @include respond-to(small) {
        @include typography($black-color, $primary-font, 14px, 400);
    }
}


//classes

.primary-color {
    color: $primary-color;
}