    $primary-color:  #FFB905;
    $dark-primary-color: #FFD568;

    $secondary-color: #FFD568;

    $black-color: #000000;
    $white-color: #FFFFFF;
    $grey-color: #6A6A6A;

    $primary-font: 'Roboto', sans-serif;

    $breakpoint-small: 700px;
    $breakpoint-medium: 1000px;
    $breakpoint-large: 1520px;