.admin{

    margin-top: 100px;
    width: 100%;

    .admin-controls{

        .button-active {
            background-color: $primary-color;
        }
        
        .button-inactive {
            background-color: $border-color;
        }
    }


    .admin-container{
        width: 100%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 100px;
        padding: 10px 50px 40px 50px;
        background-color: $white-color;
        border-radius: 20px;
    }



}
