.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;

    .row{
    margin-top: 50px;
    }

    p, label {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

//responsive

@include respond-to(small){
    .form-container{
        .row{
            flex-direction: column;
            margin: auto;
        }
    }
}

@include respond-to(medium){
    .form-container{
        .row{
            flex-direction: column;
            margin: auto;
        }
    }
}