.hp-reassurance{
    max-width: 100%;
    width: 100%;
    height:130px;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px 50px 20px 30px;

    position: relative;
    background-color: $white-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .abord{
        background-image: url("../../../../../public/icones/money.png");
    }

    .expert{
        background-image: url("../../../../../public/icones/Businessman.png");
    }

    .simple{
        background-image: url("../../../../../public/icones/Communication.png");
    }

    .efficace{
        background-image: url("../../../../../public/icones/Time.png");
    }

    .perso{
        background-image: url("../../../../../public/icones/Drawing.png");
    }

    .parent:not(:last-child){
        margin-right: 20px;
    }

    .parent{
        width: 25%;
        display: flex;
        align-items: center;
        gap: 15px;
        .child-icone{
            height: 3.5em;
            width: 20%;
        }

        .child-txt{
            height: 100%;
            width: 75%;

            .title{
                @include typography($primary-color, $primary-font, 24px, 600);

            }

            .content{
                @include typography($black-color, $primary-font, 16px, 500);
            }
        }
    }
    
  
    @include respond-to-small-medium{
        display: none;
    }
}