.hp-reassurance{
    max-width: 100%;
    width: 100%;
    height:130px;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 20px 50px 20px 30px;

    position: relative;
    background-color: $white-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .parent{
        width: 20%;
        display: flex;
        align-items: center;
        gap: 15px;
        .child-icone{
            height: 80px;
            width: 20%;
            border: 1px solid $primary-color;
        }

        .child-txt{
            height: 100%;
            width: 80%;

            .title{
                @include typography($primary-color, $primary-font, 28px, 500);

                @include respond-to(medium) {
                    @include typography($primary-color, $primary-font, 18px, 500);
                }
            
                @include respond-to(small) {
                    @include typography($primary-color, $primary-font, 16px, 500);
                }
            }

            .content{
                @include typography($black-color, $primary-font, 16px, 500);

                @include respond-to(medium) {
                    @include typography($black-color, $primary-font, 14px, 500);
                }
            
                @include respond-to(small) {
                    @include typography($black-color, $primary-font, 14px, 500);
                }
            }
        }
    }
    

}