.roomPictures{
    width: 50%;
    padding-right: 30px;
    
    h2{
        margin-bottom: 30px;
    }
    
    .pictures-bg{
        background-color: $white-color;
        border-radius: 20px;
        padding: 30px;
    }
    
    }
    