.roomPictures{
    width: 50%;
    padding-right: 30px;
    
    h2{
        margin-bottom: 30px;
    }
    
    .pictures-bg{
        background-color: $white-color;
        border-radius: 20px;
        height: 340px;
        padding: 30px;
        display: flex;
        flex-direction: column;

        .upload-btn-wrapper {
            width: 45%;
            position: relative;
            overflow: hidden;
            display: inline-block;
          }
          
          .btn {
            width: 100%;
            border: 2px solid $primary-color;
            color: $primary-color;
            background-color: white;
            padding: 10px 20px;
            border-radius: 8px;
            font-size: 20px;
            font-weight: bold;
          }
          
          .upload-btn-wrapper input[type='file'] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
          }

          p{
              margin-top: 20px;
                font-weight: 500;
            }
          
    }

    label{
        font-weight: 600;
    }
    
    }

    //responsive

    @include respond-to(small){
        .roomPictures{
            width: 100%;
            padding-right: 0px;
            padding-top: 30px;
            padding-bottom: 30px;
            h2{
                text-align: center;
            }
            .pictures-bg{
                padding: 20px;
            }
        }
    }

    @include respond-to(medium){
        .roomPictures{
            width: 100%;
            padding-right: 0px;
            padding-top: 30px;
            padding-bottom: 30px;
            h2{
                text-align: center;
            }
            .pictures-bg{
                padding: 20px;
            }
        }
    }
    