// .header-bg{
//     background-color: $white-color;
//     width: 100%;
//     height: auto;
//     position: sticky;
// }

// .logo{
//     font-size: 48px;
//     font-weight: 700;
// }

// .header{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding-bottom: 30px;
//     padding-top: 30px;
//     background-color: $white-color;


//     li{
//         a{
//             font-size: 20px;
//             font-weight: 600;
//         }

//         a:hover{
//             text-decoration: underline solid $primary-color 3px;
//             text-underline-offset: 8px;
//             color: $black-color;
//         }
//     }

// }

.logo {
    font-size: 48px;
    font-weight: 700;
}

.navbar {
    position: relative;

    .header-bg {
        background-color: $white-color;
        width: 100%;
        height: auto;
        position: sticky;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        background-color: $white-color;
    }

    .menu-icon {
        display: none;
        
        .square {
            width: 50px;
            height: 50px;
            background-color: red;
        }
    }

    .nav-elements {
        ul {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            padding: 0;

            li {
                margin-right: 60px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    font-size: 20px;
                    font-weight: 400;
                    color: $grey-color;
                    text-decoration: none;

                    &:hover {
                        color: $primary-color;
                    }

                    &.active {
                        font-weight: 500;
                        position: relative;
                        color: $primary-color;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            ul li:not(:last-child) {
                margin-right: 30px;
            }
        }

        @media (max-width: 600px) {
            position: absolute;
            z-index: 9999;
            right: 0;
            top: 100px;
            background-color: $white-color;
            width: 0;
            height: calc(100vh - 60px);
            transition: all 0.3s ease-in;
            overflow: hidden;

            &.active {
                width: 270px;
            }

            ul {
                flex-direction: column;
                padding-left: 15px;

                li {
                    margin: 22px 0 0;
                }
            }
        }
    }

    .button {
        color: $white-color !important;

        &:hover {
            color: $white-color !important;
        }
    }
}
