// .header-bg{
//     background-color: $white-color;
//     width: 100%;
//     height: auto;
//     position: sticky;
// }

// .logo{
//     font-size: 48px;
//     font-weight: 700;
// }

// .header{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding-bottom: 30px;
//     padding-top: 30px;
//     background-color: $white-color;


//     li{
//         a{
//             font-size: 20px;
//             font-weight: 600;
//         }

//         a:hover{
//             text-decoration: underline solid $primary-color 3px;
//             text-underline-offset: 8px;
//             color: $black-color;
//         }
//     }

// }

.logo {
    font-size: 48px;
    font-weight: 700;
}

.navbar {
    position: relative;

    .header-bg {
        background-color: $white-color;
        width: 100%;
        height: auto;
        position: sticky;
    }

    .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: $white-color;
    
    }



    .navbar {
        height: 60px;
        background-color: #fef7e5;
        position: relative;
    }

    .menu-icon {
        display: none;
    }


    .nav-elements ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .nav-elements ul li:not(:last-child) {
        margin-right: 60px;
    }

    .nav-elements ul a {
        font-size: 16px;
        font-weight: 400;
        color: #2f234f;
        text-decoration: none;
    }

    .nav-elements ul a.active {
        color: $primary-color;
        font-weight: 700;
        position: relative;
    }

    @media (max-width: 768px) {
        .nav-elements ul li:not(:last-child) {
            margin-right: 30px;
        }
    }

    @media (max-width: 600px) {
        .menu-icon {
            display: block;
            cursor: pointer;
        }

        .nav-elements {
            position: absolute;
            right: 0;
            top: 60px;
            background-color: #fef7e5;
            width: 0px;
            height: calc(100vh - 60px);
            transition: all 0.3s ease-in;
            overflow: hidden;
        }

        .nav-elements.active {
            width: 270px;
        }

        .nav-elements ul {
            display: flex;
            flex-direction: column;
        }

        .nav-elements ul li {
            margin-right: unset;
            margin-top: 22px;
        }
    }

    .menu-icon {
        display: none;
    }


    .nav-elements ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .nav-elements ul li:not(:last-child) {
        margin-right: 60px;
    }

    .nav-elements ul li:hover{
        color: $primary-color;
    }

    .nav-elements ul a {
        font-size: 16px;
        font-weight: 400;
        color: #2f234f;
        text-decoration: none;
    }

    .button{
        color: $white-color;
    }

    .nav-elements ul a.active {
        color: #574c4c;
        font-weight: 500;
        position: relative;
    }

    .nav-elements ul a.active::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #574c4c;
    }

    @media (max-width: 768px) {
        .nav-elements ul li:not(:last-child) {
            margin-right: 30px;
        }
    }

    @media (max-width: 600px) {
        .menu-icon {
            display: block;
            cursor: pointer;
        }

        .nav-elements {
            position: absolute;
            right: 0;
            top: 60px;
            background-color: #fef7e5;
            width: 0px;
            height: calc(100vh - 60px);
            transition: all 0.3s ease-in;
            overflow: hidden;
        }

        .nav-elements.active {
            width: 270px;
        }

        .nav-elements ul {
            display: flex;
            flex-direction: column;
        }

        .nav-elements ul li {
            margin-right: unset;
            margin-top: 22px;
        }
    }


    .square {
        width: 50px;
        height: 50px;
        background-color: red;
    }

}