.post-article {
    margin-top: 100px;
    width: 100%;

    .form-group{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .post-container{
        background-color: #fff;
        height: auto;
        margin-bottom: 100px;
        margin-top: 30px;
        padding: 60px 75px;
        width: 100%;
        border-radius: 20px;
    }

    h1 {
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .input-group {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
                font-size: 16px;
                font-weight: bold;
            }

            input, textarea {
                padding: 10px;
                font-size: 14px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            textarea {
                min-height: 150px;
            }
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            background-color: $primary-color;
            color: $white-color;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken($primary-color, 10%);
            }
        }
    }
}

//responsive

@include respond-to(medium) {
    .post-article {
        .post-container {
            padding: 60px 50px;
        }
    }
}

@include respond-to(small) {
    .post-article {
        .post-container {
            padding: 60px 30px;


        }
    }
}
