.authPage{
    margin-top: 100px;
    
    .authForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $white-color;
        padding: 50px;
        padding-top: 40px;
        border-radius: 15px;
        
    
        h2{
            margin-bottom: 30px
        }
    
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    
        input{
            margin-bottom:20px;
            width: 300px;
            height: 50px;
            border-radius: 5px;
            border: 1px solid $grey-color;
            padding: 0 15px;
        }
    
        button{
            width: 300px ;
        }
    

    }

    a{
        font-size: 14px;
        margin-top: 10px;
        font-weight: 400;
        text-align: center;
    }

    p{
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }

    .error{
        color: red;
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 5px;
        margin-top: 0;
    }

    .password-requirements{
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }

    h3{
        margin-top: 20px;
        text-align: center;
    }

    .thanks-signup{
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            margin-bottom: 0px;
        }

        p{
            margin-bottom: 20px;
            font-weight: 500;
        }
    }

}


//responsive

@include respond-to(small){
    .authPage{
        margin-top: 50px;
        .authForm{
            padding: 30px;
            padding-top: 20px;
            h2{
                font-size: 40px;
                margin-bottom: 20px;
            }
            form{
                input{
                    width: 250px;
                    height: 40px;
                }
                button{
                    width: 250px;
                }
            }
        }
    }
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: $primary-color;
    padding: 10px 20px;
    border-radius: 10px;
    color: $white-color;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: $primary-color;
  }

  input[type=file]{
    padding: 10px 20px;
  }