.annonce-component{
display: flex;
width: 100%;
margin-top: 30px;
margin-bottom: 15px;

.left{
    width:75%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3{
        text-transform: capitalize;
    }
}

.right{
    width:25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p{
        margin-bottom: 15px;
    }
}

}