.annonce-component{
display: flex;
width: 100%;
padding-top: 20px;
padding-bottom: 20px;
border-bottom: 2px solid $border-color;


.left{
    width:75%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    h3{
        text-transform: capitalize;
        color: $primary-color;
    }
}

.right{
    width:25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .primary-color{
        font-weight: 700;
        font-size: 24px;
    }

    p{
        margin-bottom: 15px;
    }
}

}

.hr:last-child{
    hr{
        display: none;
    }
}

.annonce-component:last-child{
    border: none;
    padding-bottom: 0px;
}

.annonce-component:first-child{
    padding-top: 0px;
}

//responsive

@include respond-to(small){
    .annonce-component{
        flex-direction: column;
        gap: 15px;

        button{
            font-size: 16px;
        }


        .left{
            width: 100%;
        }

        .right{
            width: 100%;
        }
    }
}

