.admin-blog {
    margin-top: 20px;
    width: 100%;


    button {
        font-size: 16px;
    }

    .filter-menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        margin-top: 20px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 2px solid $border-color;

        input {
            width: 60%;
        }

        select {
            width: 20%;
        }

        button {
            width: 15%;
        }

    }

    .admin-article{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 2px solid #eee;
        margin-bottom: 20px;

        .left{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: auto;
            padding-right: 20px;
        }

        .right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: auto;
            gap: 10px;

            .delete{
                background-color: rgb(241, 37, 37);
            }

            .delete:hover{
                background-color: rgb(233, 110, 110);
            }
        }
    }

    .admin-article:last-child{
        border-bottom: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}