.admin-blog {
    margin-top: 20px;
    width: 100%;


    button {
        font-size: 16px;
    }

    .filter-menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap-reverse;
        margin-top: 20px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 2px solid $border-color;

        input {
            width: 60%;
        }

        select {
            width: 20%;
        }

        button {
            width: 15%;
        }

    }

    .admin-article{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 2px solid #eee;
        margin-bottom: 20px;

        .left{
            width: auto;
            padding-right: 20px;
        }

        .right{
            display: flex;
            align-items: center;
            width: auto;
        }
    }

    .admin-articles:last-child{
        border-bottom: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}