@import '/src/app/assets/scss/_variables.scss';
@import '/src/app/assets/scss/_mixin.scss';
@import '/src/app/assets/scss/_global.scss';
@import '/src/app/assets/scss/_typo.scss';

//pages

@import '/src/app/pages/home/_home.scss';
@import '/src/app/pages/room-form/_room-form.scss';
@import '/src/app/pages/annonce-list/_annonceList.scss';
@import '/src/app/pages/my-annonce-list/_myAnnonceList.scss';
@import '/src/app/pages/annonce-chat/_annonceChat.scss';
@import '/src/app/pages/admin/_admin.scss';
@import '/src/app/pages/blog/_blog.scss';
@import '/src/app/pages/article/_singleArticle.scss';
@import '/src/app/pages/blog-form/_blog-form.scss';
@import '/src/app/pages/user-form/_user-form.scss';
@import '/src/app/pages/decorateur-compte/_decorateurCompte.scss';


//layout

@import '/src/app/layouts/footer/_footer.scss';
@import '/src/app/layouts/header/_nav.scss';



//components


@import '/src/app/components/annonce/annonce-list/_annonceComponent.scss';
@import '/src/app/components/annonce/my-annonce-list/_myAnnonceComponent.scss';
@import '/src/app/components/home/banner/_banner.scss';
@import '/src/app/components/home/steps/_steps.scss';
@import '/src/app/components/home/articles/_articles.scss';
@import '/src/app/components/annonce/annonce-chat/annonce-component/_annonceChatComponent.scss';
@import '/src/app/components/annonce/annonce-chat/message-component/_annonceMessagesComponent.scss';
@import '/src/app/components/admin/annonce/_annonceAdminComponent.scss';
@import '/src/app/components/admin/blog/_blogAdminComponent.scss';
@import '/src/app/components/admin/user/_userAdminComponent.scss';
@import '/src/app/components/annonce/deco-annonce-list/_myDecoAnnonceComponent.scss';

    //form
    
    @import '/src/app/components/form/auth/_authForm.scss';

    @import '/src/app/components/form/hp-form/_hp-form.scss';

    @import '/src/app/components/form/room-form/type/_room-type.scss';
    @import '/src/app/components/form/room-form/specifics/_roomSpecifics.scss';
    @import '/src/app/components/form/room-form/pictures/_roomPictures.scss';
    @import '/src/app/components/form/room-form/dimensions/_roomDimensions.scss';

