@import '/src/app/assets/scss/_variables.scss';
@import '/src/app/assets/scss/_mixin.scss';
@import '/src/app/assets/scss/_global.scss';
@import '/src/app/assets/scss/_typo.scss';


//layout

@import '/src/app/layouts/footer/_footer.scss';
@import '/src/app/layouts/header/_nav.scss';

//components

@import '/src/app/components/form/hp-form/_hp-form.scss';

@import '/src/app/components/home/banner/_banner.scss';
@import '/src/app/components/home/steps/_steps.scss';
@import '/src/app/components/home/articles/_articles.scss';

@import '/src/app/components/form/room-form/type/_room-type.scss';

//pages

@import '/src/app/pages/home/_home.scss';
@import '/src/app/pages/room-form/_room-form.scss';