.articles-hp{
    width: 100%;
    height: 800px;
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: $white-color;
    border-radius: 20px;
    padding: 40px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .article-block {
        display: flex;
        justify-content: center;
        width: 30%;
        /* pour trois articles par ligne */
        height: 300px;
        /* ou ce que vous voulez */
        background-size: cover;
        border-radius: 10px;
        margin-bottom: 20px;
        position: relative;
        /* si vous souhaitez positionner le titre et le résumé à l'intérieur */
    }

    .article-block.see-all {
        background-color: $primary-color;
        /* ou une autre couleur pour le bloc "voir tous les articles" */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
