.articles-hp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .article-block {
        width: 30%;
        /* pour trois articles par ligne */
        height: 300px;
        /* ou ce que vous voulez */
        background-size: cover;
        border-radius: 10px;
        margin-bottom: 20px;
        position: relative;
        /* si vous souhaitez positionner le titre et le résumé à l'intérieur */
    }

    .article-block.see-all {
        background-color: #eee;
        /* ou une autre couleur pour le bloc "voir tous les articles" */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}