.articles-hp {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: $white-color;
    border-radius: 20px;
    padding: 40px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .article-block {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 30%;
        background-color: antiquewhite;
        /* pour trois articles par ligne */
        height: 300px;
        /* ou ce que vous voulez */
        background-size: cover;
        border-radius: 10px;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;

        .bottom {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px 20px;
            min-height: 20%;
            height: auto;
            width: 100%;
            border-radius: 0px 0px 15px 15px;
            background: rgba(0, 0, 0, 0.49);
            backdrop-filter: blur(5px);

            h3{
                color: $white-color;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }

    .article-block.see-all:hover{
        background-color: $primary-color;
    }

    .article-block.see-all {
        background-color: $secondary-color;
        /* ou une autre couleur pour le bloc "voir tous les articles" */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        padding-bottom: 20px;

        a{
            color: $white-color;
            font-size: 24px;
            font-weight: 600;
        }

        .icone{
            color: $white-color;
            border: 3px solid $white-color;
            height: 125px;
            width: 125px;
        }
    }
}